.station {
  background-repeat: no-repeat;
  background-image: 
    linear-gradient(white 100px, transparent 0),
    linear-gradient(white 45px, transparent 0),
    linear-gradient(lightgray 100%, transparent 0);
  background-position:
    10px 10px,  /* image */
    130px 55px, /* player */
    0 0;        /* station */
  background-size:
    100px 100px,  /* image */
    280px 45px, /* player */
    430px 120px;  /* station */
  border-radius: 0 25px 25px 0;
  content: "";
  height: 120px;
  margin: 20px;
  width: 430px;
}
