.station-container {
  border-radius: 0 25px 25px 0;
  display: flex;
  height: 120px;
  margin: 20px;
  width: 430px;
}

.station-image {
  height: auto;
  width: 120px;
}

.station-body {
display: flex;
flex-direction: column;
justify-content: flex-end;
padding-bottom: 15px;
width: 310px;
}
